.navbar {
    background-color: rgb(255, 255, 255) !important;
    padding: 5px;
}

.brand-logo .logo {
    min-height: 60px;
    margin-right: 16px;
}

.nav-link {
    color: black;
    text-decoration: none;
    padding: 10px;
    margin-right: 25px;
    font-size: 20px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: rgb(4, 60, 112);
}

.active {
    font-weight: bold;
    color: rgb(4, 60, 112);
}

/* Mobile Menu Styles */

@media (max-width: 768px) {
    .brand-logo-mobile .logo {
      max-height: 50px;
      max-width: auto;
    }
  }
  
  @media (max-width: 480px) {
    .brand-logo-mobile .logo {
      max-height: 30px;
      max-width: auto;
    }
  }
  

.mobile-nav-link {
    color: black;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    text-align: center;
}