.unit-header {
    margin-bottom: 16px;
}

.unit-divider {
    margin-bottom: 24px;
}

.units {
    padding: 1em 5em 2em 1em;
    font-size: large;
}

.about {
    margin-right: 38.2em;
    font-weight: bold;
}

.body {
    padding-top: 10px;
    margin-right: 8em;
    margin-bottom: 2em;
    margin-left: 1.5em;
    font-size: medium;
    text-align: left;
}

