.admin-header {
    display: flex;
    flex-direction: column;
    padding-right: 113vh;
}

.admin-divider {
    margin-bottom: 24px;
}

.admin-card {
    width: 100%;
}

.image-link img {
    width: 100%;
    height: auto;
}

.card-caption {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    white-space: wrap;
}

@media (max-width: 768px) {
    .admin-header {
        padding-right: 50px;
    }
    .card-caption {
        font-size: 10px;
    }
}