.divider {
    margin-bottom: 24px;
}

@media (max-width: 768px) {
    .divider {
        margin-bottom: 16px;
    }
}

.image-link img {
    width: 100%;
    height: auto;
}

.aligned {
    margin-left: 1em;
}

.secHeading {
    display: flex;
    margin-top: 5vh;
    width: 70%;
    font-size: 30px;
    margin-left: 2vh;
}

.text-area {
    margin-top: 2vh;
    margin-bottom: 20px;
    margin-left: 2vh;
    width: 80%;
}

.btns button {
    margin-left: 1em;
}